@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

@layer components {
  .width-flex-layout {
    @apply w-full min-w-[20rem] max-w-[50rem];
  }

  .height-flex-layout-small {
    @apply h-[16rem] md:h-[24rem];
  }

  .height-flex-layout-medium {
    @apply h-[24rem] md:h-[32rem];
  }

  .shadow-rounded-card {
    @apply rounded-md shadow-lg transition duration-300 ease-in-out hover:scale-[102%] hover:bg-gray-50 hover:shadow-2xl;
  }

  .modal-background {
    @apply width-flex-layout absolute z-[15] h-full bg-black bg-opacity-50;
  }

  .modal-background__hidden {
    @apply fixed z-[5] hidden bg-black bg-opacity-50;
  }

  .bottom-modal-board__opened {
    @apply width-flex-layout fixed bottom-0 z-30 h-4/5 w-full overflow-y-scroll rounded-t-3xl bg-white opacity-100 duration-300 ease-in-out;
  }

  .bottom-modal-board__closed {
    @apply width-flex-layout fixed bottom-0 z-30 h-4/5 w-full translate-y-full overflow-y-scroll rounded-t-3xl bg-white px-3 opacity-100 duration-300 ease-in-out;
  }

  .modal-board__opened {
    @apply fixed left-[50%] top-[50%] z-[20] max-h-[70%] w-[90%] min-w-[20rem] max-w-[45rem] translate-x-[-50%] translate-y-[-50%] overflow-y-scroll;
  }

  .ticket-card {
    @apply width-flex-layout relative overflow-hidden rounded-md shadow-lg transition duration-300 ease-in-out hover:scale-[102%] hover:bg-gray-50 hover:shadow-2xl;
  }

  .cutting-line {
    @apply border-r-[0.20rem] border-dashed border-tripKoOrange;
  }

  .skeleton-wrapper {
    @apply skeleton-pulse h-full w-full overflow-hidden bg-gray-200;
  }

  @keyframes pulse {
    50% {
      background-color: rgba(209, 213, 219, 1);
    }
  }

  .skeleton-pulse {
    animation: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }

  .reservation-button {
    @apply absolute w-full rounded-full bg-tripKoOrange py-2 text-2xl font-bold text-white;
  }

  .account-input {
    @apply h-12 w-full rounded-md border-2 border-gray-300 px-3 text-lg focus:outline-none focus:ring-2 focus:ring-tripKoOrange;
  }

  .error-box {
    @apply rounded-2xl bg-red-200 p-4 text-center text-lg font-semibold text-red-600;
  }

  .main-layout-page {
    @apply h-screen w-full pb-[3.5rem] pt-[2.5rem];
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
